/* Enter your custom styles here */
/* .formClass {
    background-color: grey;
    color: white;
    
} */
/* .sapUiSimpleForm, .sapUiForm>.sapUiFormResGrid {
    background-color: grey;
    color: white;
} */
/* #header-shellArea,.sapUshellShellHeader, .sapContrastPlus {
    background-color: rgb(114, 114, 161);
    color: white !important;
} */
#header4, .header4{
    background-color: black;
}
